.example {
    border: 1px solid red;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__profile {
    width: 8vw;
    background-color: #2D2D3A;
    border-radius: 15px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
    width: 15vw;
    margin-top: 55%;
    border-radius: 5%;
}

.toggle-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    margin: 0;
    vertical-align: top;
    background: #2D2D3A;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;

    width: 20px;
    height: 20px;
    background-color: #4447E2;
    border-radius: 50%;

    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #4447E2;
}

.toggle-button:checked {
    background-color: #2D2D3A;
}

body.light {
    background-color: #A6ADB1;
    color: #282B31;
}

body.dark {
    background-color: #1C1C24;
    color: #fff;
}