body.light {
    background-color: #A6ADB1;
    color: #282B31;

    .text {
        color: #282B31;
    }

    .text__inactive {
        color: #A6ADB1;
    }

    .navbar {
        background-color: #fff;
        border-bottom: 2px solid #DDE1E8;
    }

    .footer__nav {
        border-top: 2px solid #DDE1E8;
    }

    .nav__profile {
        background-color: #DDE1E8;
    }

    .toggle-button {
        background: #DDE1E8;
    }

    .toggle-button::after {
        background-color: #272B31;
    }

    .toggle-button:checked::after {
        background-color: #272B31;
    }

    .toggle-button:checked {
        background-color: #DDE1E8;
    }

    .dropdown-menu {
        background-color: #fff;
        border: 2px solid #DDE1E8;
    }

    .icon__dark {
        display: none;
    }

    .icon__light {
        display: initial;
    }

    .list__add {
        background-color: #DDE1E8;
    }

    .list__task,
    .banner,
    .news__card {
        background-color: #FFFFFF;
    }

    .list__btn {
        border: 2px solid #1750FF;
        border-radius: 15px;
    }

    .file__btn {
        border: 2px solid #DDE1E8;
    }

    .file__btn:hover {
        background-color: #DDE1E8;
    }

    .list__btn:hover {
        background-color: #1750FF;
        color: #fff;
    }
}

body.dark {
    background-color: #231F20;
    color: #fff;

    .text {
        color: #fff;
    }

    .text__inactive {
        color: #5F5F6E;
    }

    .dropdown-item:hover {
        background-color: #2D2D3A;
    }

    .navbar {
        background-color: #1C1C24;
        border-bottom: 2px solid #5F5F6E;
    }

    .footer__nav {
        border-top: 2px solid #5F5F6E;
    }

    .nav__profile {
        background-color: #2D2D3A;
    }

    .toggle-button {
        background: #2D2D3A;
    }

    .toggle-button::after {
        background-color: #4447E2;
    }

    .toggle-button:checked::after {
        background-color: #4447E2;
    }

    .toggle-button:checked {
        background-color: #2D2D3A;
    }

    .dropdown-menu {
        background-color: #1C1C24;
        border: 2px solid #5F5F6E;
    }

    .icon__light {
        display: none;
    }

    .icon__dark {
        display: initial;
    }

    .list__add {
        background-color: #2D2D3A;
    }

    .list__task,
    .banner,
    .news__card {
        background-color: #1C1C24;
    }

    .list__btn {
        border: 2px solid #4447E2;
        border-radius: 15px;
    }

    .file__btn {
        border: 2px solid #2D2D3A;
    }

    .file__btn:hover {
        background-color: #2D2D3A;
    }

    .list__btn:hover {
        background-color: #4447E2;
    }
}


@mixin laptop {
    @media screen and (min-width: 1024px) and (max-width: 1599px) {
        @content;

        .nav__profile {
            width: 12vw;
            border-radius: 15px;
        }

        .nav__btn {
            width: 30%;
        }

        .dropdown-menu-right {
            right: 0;
            left: auto;
            width: 25vw;
            margin-top: 55%;
            border-radius: 5%;
        }

        .tasks {
            margin-top: 2%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 22%);
            justify-content: space-between;
            gap: 4%;
        }

        .list__task {
            display: grid;
            height: 45vh;
            gap: 7%;
            grid-template-rows: 20% 50% 20%;
            justify-content: center;
            padding: 3% 6%;
            border-radius: 15px;
        }

        .footer__nav {
            height: 10vh;
            margin-top: 8%;
        }

        .text--cap {
            font-size: 3vh;
        }

        .banner__col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1%;
            margin: 0% 2%
        }

        .text--logo {
            font-size: 2vh;
        }

        .banner {
            padding-bottom: 3%;
        }

        .news {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-template-rows: repeat(2, 1fr);
            justify-content: space-between;
            gap: 3%;
        }

        .news__card {
            display: grid;
            justify-content: center;
            grid-template-rows: 60% 25% 5%;
            padding: 7%;
            border-radius: 15px;
        }
    }
}

@mixin ipad {
    @media screen and (min-width: 760px) and (max-width: 1023px) {
        @content;

        .text--size {
            font-size: 1vh;
        }

        .nav__profile {
            width: 14vw;
            border-radius: 15px;
        }

        .nav__btn {
            width: 40%;
        }

        .dropdown-menu-right {
            right: 0;
            left: auto;
            width: 35vw;
            margin-top: 55%;
            border-radius: 5%;
        }

        .tasks {
            margin-top: 2%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 13%);
            justify-content: space-between;
            gap: 4%;
        }

        .list__task {
            display: grid;
            height: 35vh;
            gap: 7%;
            grid-template-rows: 20% 50% 20%;
            justify-content: center;
            padding: 3% 6%;
            border-radius: 15px;
        }

        .footer__nav {
            height: 10vh;
            margin-top: 8%;
        }

        .text--cap {
            font-size: 1.7vh;
        }

        .banner__img {
            margin-top: 4%;
        }

        .banner__col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1%;
            margin: 0% 2%
        }

        .text--logo {
            font-size: 1.3vh;
        }

        .banner {
            padding-bottom: 2%;
            padding-top: 4%;
        }

        .news {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-template-rows: repeat(2, 1fr);
            justify-content: space-between;
            gap: 3%;
        }

        .news__card {
            display: grid;
            justify-content: center;
            grid-template-rows: 60% 35% 5%;
            padding: 7%;
            border-radius: 15px;
        }

        .text--footer {
            font-size: 1.3vh;
        }
    }
}

body {
    @include laptop();
}

body {
    @include ipad();
}