body.light {
  background-color: #A6ADB1;
  color: #282B31;
}

body.light .text {
  color: #282B31;
}

body.light .text__inactive {
  color: #A6ADB1;
}

body.light .navbar {
  background-color: #fff;
  border-bottom: 2px solid #DDE1E8;
}

body.light .footer__nav {
  border-top: 2px solid #DDE1E8;
}

body.light .nav__profile {
  background-color: #DDE1E8;
}

body.light .toggle-button {
  background: #DDE1E8;
}

body.light .toggle-button::after {
  background-color: #272B31;
}

body.light .toggle-button:checked::after {
  background-color: #272B31;
}

body.light .toggle-button:checked {
  background-color: #DDE1E8;
}

body.light .dropdown-menu {
  background-color: #fff;
  border: 2px solid #DDE1E8;
}

body.light .icon__dark {
  display: none;
}

body.light .icon__light {
  display: initial;
}

body.light .list__add {
  background-color: #DDE1E8;
}

body.light .list__task,
body.light .banner,
body.light .news__card {
  background-color: #FFFFFF;
}

body.light .list__btn {
  border: 2px solid #1750FF;
  border-radius: 15px;
}

body.light .file__btn {
  border: 2px solid #DDE1E8;
}

body.light .file__btn:hover {
  background-color: #DDE1E8;
}

body.light .list__btn:hover {
  background-color: #1750FF;
  color: #fff;
}

body.dark {
  background-color: #231F20;
  color: #fff;
}

body.dark .text {
  color: #fff;
}

body.dark .text__inactive {
  color: #5F5F6E;
}

body.dark .dropdown-item:hover {
  background-color: #2D2D3A;
}

body.dark .navbar {
  background-color: #1C1C24;
  border-bottom: 2px solid #5F5F6E;
}

body.dark .footer__nav {
  border-top: 2px solid #5F5F6E;
}

body.dark .nav__profile {
  background-color: #2D2D3A;
}

body.dark .toggle-button {
  background: #2D2D3A;
}

body.dark .toggle-button::after {
  background-color: #4447E2;
}

body.dark .toggle-button:checked::after {
  background-color: #4447E2;
}

body.dark .toggle-button:checked {
  background-color: #2D2D3A;
}

body.dark .dropdown-menu {
  background-color: #1C1C24;
  border: 2px solid #5F5F6E;
}

body.dark .icon__light {
  display: none;
}

body.dark .icon__dark {
  display: initial;
}

body.dark .list__add {
  background-color: #2D2D3A;
}

body.dark .list__task,
body.dark .banner,
body.dark .news__card {
  background-color: #1C1C24;
}

body.dark .list__btn {
  border: 2px solid #4447E2;
  border-radius: 15px;
}

body.dark .file__btn {
  border: 2px solid #2D2D3A;
}

body.dark .file__btn:hover {
  background-color: #2D2D3A;
}

body.dark .list__btn:hover {
  background-color: #4447E2;
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
  body .nav__profile {
    width: 12vw;
    border-radius: 15px;
  }
  body .nav__btn {
    width: 30%;
  }
  body .dropdown-menu-right {
    right: 0;
    left: auto;
    width: 25vw;
    margin-top: 55%;
    border-radius: 5%;
  }
  body .tasks {
    margin-top: 2%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (22%)[4];
        grid-template-rows: repeat(4, 22%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4%;
  }
  body .list__task {
    display: -ms-grid;
    display: grid;
    height: 45vh;
    gap: 7%;
    -ms-grid-rows: 20% 50% 20%;
        grid-template-rows: 20% 50% 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3% 6%;
    border-radius: 15px;
  }
  body .footer__nav {
    height: 10vh;
    margin-top: 8%;
  }
  body .text--cap {
    font-size: 3vh;
  }
  body .banner__col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    margin: 0% 2%;
  }
  body .text--logo {
    font-size: 2vh;
  }
  body .banner {
    padding-bottom: 3%;
  }
  body .news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3%;
  }
  body .news__card {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 60% 25% 5%;
        grid-template-rows: 60% 25% 5%;
    padding: 7%;
    border-radius: 15px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  body .text--size {
    font-size: 1vh;
  }
  body .nav__profile {
    width: 14vw;
    border-radius: 15px;
  }
  body .nav__btn {
    width: 40%;
  }
  body .dropdown-menu-right {
    right: 0;
    left: auto;
    width: 35vw;
    margin-top: 55%;
    border-radius: 5%;
  }
  body .tasks {
    margin-top: 2%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (13%)[5];
        grid-template-rows: repeat(5, 13%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4%;
  }
  body .list__task {
    display: -ms-grid;
    display: grid;
    height: 35vh;
    gap: 7%;
    -ms-grid-rows: 20% 50% 20%;
        grid-template-rows: 20% 50% 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3% 6%;
    border-radius: 15px;
  }
  body .footer__nav {
    height: 10vh;
    margin-top: 8%;
  }
  body .text--cap {
    font-size: 1.7vh;
  }
  body .banner__img {
    margin-top: 4%;
  }
  body .banner__col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    margin: 0% 2%;
  }
  body .text--logo {
    font-size: 1.3vh;
  }
  body .banner {
    padding-bottom: 2%;
    padding-top: 4%;
  }
  body .news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3%;
  }
  body .news__card {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 60% 35% 5%;
        grid-template-rows: 60% 35% 5%;
    padding: 7%;
    border-radius: 15px;
  }
  body .text--footer {
    font-size: 1.3vh;
  }
}
/*# sourceMappingURL=style.css.map */